@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #171717;
    padding: 20px;
    font-family: "Inter", sans-serif;
    animation: fadeInAnimation ease 2s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

.nav-icon {
    font-size: 26px;
    color: #4c8df5;
    cursor: pointer;
}

.nav-icon:hover {
    color: #ffffff;
    animation: ease-in 1s;
}

nav .logo {
    height: 64px;
    width: 64px;
    background: #18181b;
    border: 1px solid #27272a;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo i {
    font-size: 26px;
    color: #4c8df5;
}

nav .links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 28px;
}

nav .links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: all 0.3s ease;
}

nav .links a:hover {
    color: #4c8df5;
}

nav .links a.active {
    font-weight: bold;
    color: #4c8df5 !important;
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav .links {
        width: 100%;
        justify-content: center;
    }

    nav .logo {
        display: none;
    }
}